body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 200px 200px 200px 200px;
}

input{
    margin-top: 15px;
}

